@{
    ViewBag.Title = "Home Page";
}


<div class="banner" id="home">
    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto" id="myul">
                    <li class="nav-item active">
                        <a class="nav-link ml-lg-0" href="/Home/Index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Home/Prices">Airport Prices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Booking">Booking</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <!-- //header -->
    <div id="wrapper">

        <!-- Slideshow 1 -->
        <div class="rslides_container">
            <ul class="rslides" id="slider1">
                <li>
                    <div class="banner-img">
                        <div class="bs-slider-overlay">
                            <div class="banner-info text-center">
                                @*<span class="fas fa-taxi"></span>*@
                                <h1>24/7 Taxi Service </h1>
                                <h2 class="mb-5"><i class="fas fa-phone"></i>  020 8521 1000</h2>
                                <a href="/Home/Booking">Book Now </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-img one">
                        <div class="bs-slider-overlay">
                            <div class="banner-info text-center">
                                @*<span class="fas fa-taxi"></span>*@
                                <h4>Online Cab Booking</h4>
                                <h5 class="mb-5">No Extra Charges</h5>
                                <a href="/Home/Booking">Book Now </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-img two">
                        <div class="bs-slider-overlay">
                            <div class="banner-info text-center">
                                @*<span class="fas fa-taxi"></span>*@
                                <h4>Reach Your Destination</h4>
                                <h5 class="mb-5">Within Exact Time </h5>
                                <a href="/Home/Booking">Book Now </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="banner-img three">
                        <div class="bs-slider-overlay">
                            <div class="banner-info text-center">
                                
                                <h4>Travel Safe & Secure</h4>
                                <h5 class="mb-5">Assured Cab Service</h5>
                                <a href="/Home/Booking">Book Now </a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<section class="about py-5">
    <div class="container py-lg-5 py-3">
        @*<h3 class="heading text-capitalize text-center">Welcome</h3>
        <h5 class="heading mb-5 text-center">just airport car</h5>*@
        <div class="text-center">
            <img src="~/images/logo.png"  style="width:450px;" />
        </div>
        <div class="about-head text-center  mt-5">
            <div class="row about-grids-top mb-5">  
                <div class="col-lg-4 col-sm-4 col-6 about-grid p-0">
                    <i class="fas fa-money-bill-alt" aria-hidden="true"></i>
                    <h4>Low Charges</h4>
                </div>
                <div class="col-lg-4 col-sm-4 col-6 about-grid p-0">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h4>Safe & Secure</h4>
                </div>
                <div class="col-lg-4 col-sm-4 col-6 mt-sm-0 mt-5 about-grid p-0">
                    <i class="fa fa-road" aria-hidden="true"></i>
                    <h4>Traffic Roads</h4>
                </div>
            </div>
            <div class="row about-grids-top mb-5"> 
                <div class="col-lg-4 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
                    <i class="fa fa-taxi" aria-hidden="true"></i>
                    <h4>Taxi Cabs</h4>
                </div>
                <div class="col-lg-4 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <h4>24/7 Service</h4>
                </div>
                <div class="col-lg-4 col-sm-4 col-6 mt-lg-0 mt-5 about-grid p-0">
                    <i class="fa fa-smile" aria-hidden="true"></i>
                    <h4>Customers</h4>
                </div>
                </div>
            </div>
            @*<div class="row about-grids-bottom text-left m-t-40">
                <div class="col-md-4 mb-md-0 mb-5 about-bottom-grid">
                    <h4 class="mb-4">We transport over thousands passengers each year.</h4>
                    @*<a href="about.html"> More About Us</a>
                </div>
                <div class="col-md-4 about-bottom-grid">
                    <p>We transport over thousands passengers each year. All Airports is proud of its record for punctuality, reliability and the highest standards of customer service.   </p>
                </div>
                <div class="col-md-4 about-bottom-grid">
                    <p>We’re dedicated to helping the taxi industry to evolve and grow, building on the strong foundations forged by decades of great service. </p>
                </div>
            </div>
        </div>*@

    </div>
</section>
<!-- //about -->
<!-- Why taxi cab -->
<section class="why">
    <div class="container-fluid p-md-5 p-3">
        <h3 class="heading text-capitalize text-center">Why  Our Cab</h3>
        <h5 class="heading mb-5 text-center mt-3">just airport car</h5>
        <div class="row why-grids">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-4 grid1 text-center">
                    @*<h4 class="mx-auto"><span>1</span></h4>*@
                    <p class="mt-5 all-transpartent">Top Rated Drivers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-4 grid2 text-center">
                    @*<h4 class="mx-auto"><span>2</span></h4>*@
                    <p class="mt-5 all-transpartent">Safety Journey</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-4 grid3 text-center">
                    @*<h4 class="mx-auto"><span>3</span></h4>*@
                    <p class="mt-5 all-transpartent">Without Peak Pricing</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-4 grid4 text-center">
                    @*<h4 class="mx-auto"><span>4</span></h4>*@
                    <p class="mt-5 all-transpartent">Fast And Secure</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-md-0 mb-4 grid5 text-center">
                    @*<h4 class="mx-auto"><span>5</span></h4>*@
                    <p class="mt-5 all-transpartent">Lowest Rates</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-md-0 mb-4 grid6 text-center">
                    @*<h4 class="mx-auto"><span>6</span></h4>*@
                    <p class="mt-5 all-transpartent">Best Quality Cabs</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-sm-0 mb-4 grid7 text-center">
                    @*<h4 class="mx-auto"><span>7</span></h4>*@
                    <p class="mt-5 all-transpartent">Online Booking</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 grid8 text-center">
                    @*<h4 class="mx-auto"><span>8</span></h4>*@
                    <p class="mt-5 all-transpartent">24/7 Cab Service</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Why taxi cab -->

<!-- Our prices -->
<section class="prices py-5">
    <div class="container py-lg-5 py-3">
        <h3 class="heading text-capitalize text-center">Our Pricing</h3>
        <h5 class="heading mb-5 text-center">justairportcars</h5>
        <div> 
            <div class="row pricing-grids">
                <div class="col-lg-3 col-md-6 mt-md-0 mt-5 price-grid clr-transparent">
                    <h3 class="mb-4">SALOON</h3>
                    @*<h4 class="my-3"> ( 4 X  2)</h4>*@
                    <p> The most popular and economic choice for up to 4 passengers with 2 large cases and 2 hand luggage’s. Ideal for passengers and small groups seeking great value for money.</p>
                    <ul class="d-flex mt-3">
                        <li class="mr-3">4 <i class="fas fa-male" aria-hidden="true"></i></li>
                        <li class="mr-3">2 <i class="fas fa-suitcase" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mt-md-0 mt-5 price-grid clr-transparent">
                    <h3 class="mb-4">ESTATE</h3>
                    @*<h4 class="my-3">Small fares for short rides</h4>*@
                    <p> For passengers seeking more luggage space, opt for the popular estate car. With enough room for 4 passengers plus 4 suitcases and 2 hand luggage, they are equipped to deal with almost all your transfer requirements.</p>
                    <ul class="d-flex mt-3">
                        <li class="mr-3">4 <i class="fas fa-male" aria-hidden="true"></i></li>
                        <li class="mr-3">3 <i class="fas fa-suitcase" aria-hidden="true"></i></li>
                   
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mt-lg-0 mt-5 price-grid clr-transparent">
                    <h3 class="mb-4">MPV</h3>
                    @*<h4 class="my-3">Small fares for short rides</h4>*@
                    <p> Our most popular choice for Airport Transfers and ideal for families and larger groups. Suitable for up to 6 passengers with hand luggage or carry on bags, travel in a spacious, air conditioned vehicle ensuring comfort every time.</p>
                    <ul class="d-flex mt-3">
                        <li class="mr-3">6 <i class="fas fa-male" aria-hidden="true"></i></li>
                        <li class="mr-3">3 <i class="fas fa-suitcase" aria-hidden="true"></i></li>
                   
                    </ul>
                </div>
            
            
            </div>
        </div> <!--row-->
    </div>
</section>
<!-- //Our prices -->





@section scripts{

    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- carousel -->
    <script src="~/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    900: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <!--slider-->
    <script src="~/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "centered-btns"
            });
        });
    </script>
    <!--//slider-->
    <!-- start-smoth-scrolling -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>


}