
@{
    ViewBag.Title = "Services";
}

<div class="banner" id="home">


    <!-- header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mx-auto" id="myul">
                    <li class="nav-item ">
                        <a class="nav-link ml-lg-0" href="/Home/Index">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Home/Services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Booking">Booking</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Contact">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <!-- //header -->
</div> <!--//banner-->

<section class="services py-5">
    <div class="container py-lg-5">
        <h1 class="heading text-capitalize text-center">Our Services</h1>
        <h5 class="heading mb-5 text-center">Just airpor tcar</h5>
        <div class="row service-grids">
            <div class="col-lg-4">
                <h3 class="text-capitalize mb-3">We have a range of vehicles</h3>
                <p class="mb-3">
                    All our drivers are experienced, qualified, certified and licenced by PCO (Public Carriage Office). So you don't need to worry about the journey we are concerned about our customers.
                    We have the latest computerized dispatch system. When you book a cab with us, you will receive confirmation by text message or email. This is how our customers are always updated.
                    On average we are 45% cheaper than a taxi and will always do our best to price match our competitors. We ensures you get the best deal as the lowest quote.
                </p>
            </div>
            <div class="col-lg-2 col-6">
                <img src="~/images/saloon.png" alt="" class="img-fluid" />
                <img src="~/images/estate.png" alt="" class="img-fluid" />
                <img src="~/images/mpv.png" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-2 col-6">
                <img src="~/images/saloon.png" alt="" class="img-fluid" />
                <img src="~/images/estate.png" alt="" class="img-fluid" />
                <img src="~/images/mpv.png" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-4">
                <h4 class="text-capitalize"><i class="fas fa-taxi clr1"></i>Saloon</h4>
                <p class="mb-4"> The most popular and economic choice for up to 4 passengers with 2 large cases and 2 hand luggage’s.</p>
                <h4 class="text-capitalize"><i class="fas fa-bus clr2"></i>Estate</h4>
                <p class="mb-4">Best option for the popular estate car. With enough room for 4 passengers plus 4 suitcases and 2 hand luggage.</p>
                <h4 class="text-capitalize"><i class="fas fa-car clr3"></i>MPV</h4>
                <p class="mb-4">Our most popular choice for Airport Transfers and ideal for families and larger groups.</p>
            </div>
        </div>
    </div>
</section>
<!-- //services -->
<!-- Why taxi cab -->
<section class="why">
    <div class="container-fluid p-md-5 p-3">
        <h3 class="heading text-capitalize text-center">Why  Our Cab</h3>
        <h5 class="heading mb-5 text-center">just airport car</h5>
        <div class="row why-grids">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-4 grid1 text-center">
                    @*<h4 class="mx-auto"><span>1</span></h4>*@
                    <p class="mt-5 all-transpartent">Top Rated Drivers</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-4 grid2 text-center">
                    @*<h4 class="mx-auto"><span>2</span></h4>*@
                    <p class="mt-5 all-transpartent">Safety Journey</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-4 grid3 text-center">
                    @*<h4 class="mx-auto"><span>3</span></h4>*@
                    <p class="mt-5 all-transpartent">Without Peak Pricing</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-4 grid4 text-center">
                    @*<h4 class="mx-auto"><span>4</span></h4>*@
                    <p class="mt-5 all-transpartent">Fast And Secure</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-md-0 mb-4 grid5 text-center">
                    @*<h4 class="mx-auto"><span>5</span></h4>*@
                    <p class="mt-5 all-transpartent">Lowest Rates</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-md-0 mb-4 grid6 text-center">
                    @*<h4 class="mx-auto"><span>6</span></h4>*@
                    <p class="mt-5 all-transpartent">Best Quality Cabs</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 mb-sm-0 mb-4 grid7 text-center">
                    @*<h4 class="mx-auto"><span>7</span></h4>*@
                    <p class="mt-5 all-transpartent">Online Booking</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="py-5 px-2 grid8 text-center">
                    @*<h4 class="mx-auto"><span>8</span></h4>*@
                    <p class="mt-5 all-transpartent">24/7 Cab Service</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Why taxi cab -->
@*@*<!-- Cars slider -->
    <section class="food-Slider py-5">
        <div class="container py-lg-5">
            <h3 class="heading text-capitalize text-center">Our Cars</h3>
            <h5 class="heading mb-5 text-center">Taxi Cab</h5>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/1.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/2.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/3.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/1.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/2.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/3.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/1.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Mini Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/2.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Prime Taxi </h5>
                            </div>
                            <div class="col-md-4 col-sm-6 slidering">
                                <div class="thumbnail"><img src="~/images/3.png" alt="Image" style="max-width:100%;"></div>
                                <h5 class="my-2 text-center text-uppercase">Sedan Taxi </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <!-- //Cars slider -->*@


@section scripts{

    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
    <!-- //js -->
    <!-- stats -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- carousel -->
    <script src="~/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: false
                    },
                    900: {
                        items: 2,
                        nav: false
                    },
                    1000: {
                        items: 3,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <!--slider-->
    <script src="~/js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "centered-btns"
            });
        });
    </script>
    <!--//slider-->
    <!-- start-smoth-scrolling -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smoth-scrolling -->
    <!-- //js-scripts -->


}